@charset "UTF-8";

table.form-table {
  margin: auto;
}
#header .jumbotron{
  background-color: #339966;
}

#footer {
  background-color: #6633FF;
  font-size: 80%;
  text-align: center;
  color: #FFF;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#response-list{
  list-style-type: none;
}
#response-list li{
  margin-bottom:25px;
}

.subcategory{
  display: none;
}
